<style type="text/css">
body
{
    counter-reset: Serial;           /* Set the Serial counter to 0 */
}

table #universe
{
    border-collapse: separate;
}

tr td:first-child:before
{
  counter-increment: Serial;      /* Increment the Serial counter */
  content: "" counter(Serial); /* Display the counter */
}
</style>

<h1>The
  <a href="http://iiif.io"><img src="http://iiif.io/img/logo-iiif-34x30.png"
         label="iiif: International Image Interoperability Framework"/></a>
  <span style="border-bottom: 1px dashed;" title="A Universe is a directory of catalogs published by service providers which lists their available assets.">Universe <sup style="font-weight: normal; font-size: 14px;">[?]</sup></span>

<h2>IIIF: International Image Interoperability Framework</h2>
<p>
  A Universe is a directory of catalogs published by service
  providers which lists their available assets. This Universe contains
  top-level IIIF collections from various institutions.
</p>

<h3>Contributing a Catalog</h3>
<p>
  Contribute your institution's collection <strong><a href="https://github.com/ryanfb/iiif-universe/edit/gh-pages/iiif-universe.json">here</a></strong> or by <a href="mailto:michael.karpeles@gmail.com&subject=IIIF Catalog">emailing support</a>.
</p>

<h3>The Universal Catalog</h3>
<p>
  A universal json collection accross institutions can be accessed here: <a href="/static/data/universes/iiif/universe.json">Universal IIIF Collection</a>
</p>

<h3>Catalogs by Institution</h3>
<table border="1" class="universe">
  <thead>
    <tr>
      <th>ID</th>
      <th>Institution</th>
      <th>Catalog</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td>Yale</td>
      <td><a href="http://manifests.ydc2.yale.edu/manifest">http://manifests.ydc2.yale.edu/manifest</a></td>
    </tr>
    <tr>
      <td></td>
      <td>Stanford</td>
      <td><a href="/static/data/universes/iiif/stanford.json">https://graph.global/static/data/universes/iiif/stanford.json</a></td>
    </tr>
    <tr>
      <td></td>
      <td>Biblissima</td>
      <td><a href="/static/data/universes/iiif/biblissima.json">https://graph.global/static/data/universes/iiif/biblissima.json</a></td>
    </tr>
    <tr>
      <td></td>
      <td>e-codices – Virtual Manuscript Library of Switzerland</td>
      <td><a href="/static/data/universes/iiif/e-codices.json">https://graph.global/static/data/universes/iiif/e-codices.json</a></td>
    </tr>
    <tr>
      <td></td>
      <td>Sentences Commentary Text Archive</td>
      <td><a href="http://scta.info/iiif/collection/scta">http://scta.info/iiif/collection/scta</a></td>
    </tr>
    <tr>
      <td></td>
      <td>Internet Archive</td>
      <td><a href="http://iiif.archivelab.org/collection.json">http://iiif.archivelab.org/collection.json</a></td>
    </tr>
  </tbody>
</table>

<h3>To be added...</h3>
<ul>
  <li>ARTstor</li>
  <li>Aayerische Staatsbibliothek (Bavarian State Library)</li>
  <li>Bodleian Libraries, Oxford University</li>
  <li>British Library</li>
  <li>Cornell University</li>
  <li>DPLA</li>
  <li>Digirati Ltd</li>
  <li>Europeana</li>
  <li>Harvard University (<a href="http://oculus-dev.harvardx.harvard.edu/manifests">http://oculus-dev.harvardx.harvard.edu/manifests</a>)</li>
  <li>Johns Hopkins University</li>
  <li>Klokan Technologies</li>
  <li>La Bibliothèque nationale de France</li>
  <li>National Library of Austria</li>
  <li>Nasjonalbiblioteket (National Library of Norway)</li>
  <li>National Library of Denmark</li>
  <li>National Library of Israel</li>
  <li>National Library of New Zealand</li>
  <li>National Library of Poland</li>
  <li>National Library of Serbia</li>
  <li>National Library of Wales</li>
  <li>Princeton University Library</li>
  <li>St. Louis University</li>
  <li>Stanford University</li>
  <li>TextGrid</li>
  <li>text & bytes</li>
  <li>Wellcome Trust</li>
</ul>
