<div id="search">

  <!-- Stack of layered with focused on top -->
  <form id="omnibar">
    <div class="form-group">
      <input type="text" autocomplete="off" class="form-control mousetrap" id="query" 
             placeholder="Find an Entity" autofocus/>
    </div>
  </form>
  <div id="history"> 
    <ul>
    </ul>
  </div>
</div>

<div id="results" class="hidden">  

  <div class="node-options">
    <input type="text" class="form-control" placeholder="Filter">
    <button class="btn-primary btn-toggle" for-id='addEdges'>New relation</button>
    <button class="btn-primary btn-toggle" for-id='remoteIds'>Add identifier</button>
  </div>

  <div id="remoteIds" class="hide">
    <ul></ul>
  </div>

  <div id="contexts">
  </div>

  <div id="neg">
  </div>

  <div id="entity">

    <div id="pos"></div>

    <div id="addEdges" class="ui-widget hide">
      <input id="edge-relation" class="typeahead"/>      
      <input id="edge-target" class="typeahead"/>
      <button id="add-edge">Add Edge</button>
    </div>

    <div id="edges">
      <ul>
      </ul>
    </div>
  </div>

</div>
