<div id="search">
  <h1>
    <span id="title">World Wide Graph (w2g)</span>
    <span id="context"></span>
  </h1>

  <hr/>

  <!-- Stack of layered with focused on top -->
  <form id="omnibar">
    <div class="form-group">
      <input type="text" autocomplete="off" class="form-control mousetrap" id="query" 
             placeholder="Find an Entity" autofocus>
    </div>
  </form>
  <div id="history"> 
    <ul>
    </ul>
  </div>
</div>

<div id="results" class="hidden">  
  <div id="contexts">      
  </div>

  <div id="neg">
  </div>

  <div id="entity">

    <div id="resources">
      <h2>Resources</h2>
      <table class="table">
        <thead>
          <tr>
            <th>title</th>
            <th>url</th>
            <th>avatar</th>
            <th>desc</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
          <tr>
            <td><input id="resource-title"/></td>
            <td><input id="resource-url" type="url"/></td>
            <td><input id="resource-avatar" type="url"/></td>
            <td><input id="resource-desc"/></td>
          </tr>
        </tfoot>
      </table>
      
      <button id="add-resource">Add Resource</button>
    </div>

    <div id="remoteIds">
      <h2>Identifiers</h2>
      <table class="table">
        <thead>
          <th>Source</th>
          <th>ID</th>
        </thead>
        <tbody>   
        </tbody>
        <!-- Add + -->
      </table>
    </div>


    <div id="pos"></div>

    <div id="edges">
      <h2>Dependencies</h2>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Function</th>
            <th>Entity</th>
            <!--
            <th>Called</th>
            <th>Contexts</th>
            -->
          </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td class="ui-widget"><input id="edge-relation" class="typeahead"/></td>
            <td class="ui-widget"><input id="edge-target" class="typeahead"/></td>
            <!--
            <td class="ui-widget"><input id="edge-name" class="typeahead"/></td>
            <td class="ui-widget"><input id="edge-context" class="typeahead"/></td>
            -->
          </tr>
        </tfoot>
      </table>
      <button id="add-edge">Add Edge</button>
    </div>
  </div>

</div>
