
<h1 id="title">World Wide Graph (w2g)</h1>
<hr/>

<!-- Stack of layered with focused on top -->
<form id="omnibar">
  <div class="form-group">
    <input type="text" autocomplete="off" class="form-control mousetrap" id="query" 
           placeholder="Find an Entity" autofocus>
  </div>
</form>
<div id="history"> 
  <ul>
  </ul>
</div>

<div id="results" class="hidden">
  <div id="entity">
    <textarea id="data">
    </textarea>

    <div id="remoteIds">
      <h2>Remote IDs</h2>
      <table>
        <thead>
          <th>Source</th>
        </thead>
        <tbody>          
        </tbody>
      </table>
    </div>

    <div id="child-edges">
      <h2>Children</h2>
      <table>
        <thead>
          <tr>
            <th>Property</th>
            <th>Relation</th>
            <th>Child</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

    <div id="parent-edges">

    </div>
    <button id="update">Update</button>
  </div>
</div>
