#entities {
    width: 400px;
}

.overlay {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.8;
    z-index: 2;
}

.editor {
    display: flex;
}

article {
    border-radius: 6px;
}

article.component {
    margin-right: 10px;
}


.component {
    flex: 1;
}

h2.component-title {
    min-height: 30px;
    font-size: 1.1em;
    align-items: center;
    margin: 0px;
    font-weight: bold;
    color: #666;
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    background: #fafbfc;
}

h2.component-title:focus {
    outline: none;
}

.component-title .title {
    flex: 1;
    margin: 0px 10px;
}

.component-filename {
    border-radius: 6px;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px;
    font-size: .9em;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.component-filename span {
    color: #365899;
}

.component-body {
    margin: 5px;
    padding: 10px;
    font-size: .9em;
}

.component-body:focus {
    outline: none;
}

article {

    width: 500px;
}

article input {
    display: block;
    padding: 5px;
}

article entity {
    background-color: #4267b2;
    padding: 2px;
}

#entities ul {
    overflow: auto;
    margin: 0px;
    padding: 0px;
}
#entities ul li { 
    white-space: wrap;
    list-style-type: none;
    padding: 10px;
}
#entities ul li:hover { 
    background-color: #4267b2;
}

.component-publish {
    background-color: #fafbfc;
    border-top: 1px solid #ddd;
    padding: 10px;
    margin: 0 auto;
}

button.publish {
    background-color: #365899;
    border-color: #365899;
    color: #fff;
    width: 100%;
}

.selected {
    background-color: #4267b2;
}

summary.component {
}

summary.component h2 {
    display: block;
}

.slug {
    display: inline-block;
    min-width: 200px;
    flex: 1
}

.component-compose {
    border: 1px solid #eee;
    background-color: #fff;
    border-radius: 6px;
}

aside {
    border-top: 1px solid #eee;
}