#search {
    height: 100%;
    width: 33.3%;
    overflow-y: scroll.
}

// decrease resolution
#broaden {

}

#magnify {

}

.unpad {
    margin: 0px;
    padding: 0px;
}

html {
//    cursor: none;
}

body {
    width: 600px;
    //font-family: 'Lora', serif;
}

input, textarea, li{
    cursor: none;
}

table tr td input {
    width: 100%;
}

h1 {
    font-family: "Linux Libertine",Georgia,Times,serif;
    font-size: 2em;
    font-weight: 100;
}

.w2g-tag {
    color: green;
    padding: 3px 5px;
    border-radius: 3px;
}

.active {
    background-color: yellow;
}

.selected {
    background-color: #8B929E;
}

.leftify {
    background-color: #ccc;
    border-right: #ddd;
    width: 150px;
    float: left;
}

#history {
}

#history ul {
    padding: 0px;
}

#history ul li {
    list-style-type: none;
    padding: 0px;
    margin: 10px;
}

#provenance ul li {
    list-style-type: none;
    display: inline;
}

#provenance ul li::after {
    content: " -> ";
}

#results {
    float: left;
}

.hidden {
    visibility: hidden;
}

entity {
    background-color: #dce6f8;
    padding: 5px 10px;
    border-radius: 3px;
}

.value { 
    border: none;
}

#contexts ul li {
    display: inline;
}

.edge {
    padding: 0px 5px;
    margin: 10px;
}

#edges li span {
    padding: 5px;
}