
#search {
    height: 100%;
    overflow-y: scroll.
}

.unpad {
    margin: 0px;
    padding: 0px;
}

html {
}


input, textarea, li{
}

table tr td input {
    width: 100%;
}

h1 {
    font-family: "Linux Libertine",Georgia,Times,serif;
    font-size: 1.5em;
    font-weight: 100;
}

.w2g-tag {
    color: green;
    padding: 3px 5px;
    border-radius: 5px;
}

.active {
    border-color: #2188ff;
    box-shadow: 0 0 0 0.2em #c8e1ff;
}

.selected {
    border-color: #2188ff;
    box-shadow: 0 0 0 0.2em #c8e1ff;
}

.leftify {
    background-color: #ccc;
    border-right: #ddd;
    width: 150px;
    float: left;
}

#history ul {
    padding: 0 10px;
}

#history ul li {
    padding: 0px;
    margin: 1.5em;
}

#provenance ul {
    margin: 0px;
    margin-top: 15px;
    padding: 0px;
}

#provenance ul li {
    list-style-type: none;
    display: inline;
}

#provenance ul li::after {
    content: " › ";
}


.hidden {
    visibility: hidden;
}

entity {
    color: #24292e;
    background-color: #fafbfc;
    border: 1px solid rgba(27,31,35,.15);
    box-shadow: 0 1px 0 rgba(27,31,35,.04), inset 0 1px 0 hsla(0,0%,100%,.25);
    transition: background-color .2s cubic-bezier(.3,0,.5,1);
    padding: 5px 10px;
    border-radius: 3px;
}

entity:hover {
    border-color: #2188ff;
    box-shadow: 0 0 0 0.2em #c8e1ff;
}

.value { 
    border: none;
}

#contexts ul li {
    display: inline;
}

.edge-options {
    float: right;
}


.edge {
    padding: 10px;
    border-bottom: 0;
}

.edge:first-child {
    border-radius-top-right: 5px;
}

.edge:last-child {
    border-bottom: 1px solid #eee;
}

#edges ul {
    line-height: 2.5em;
}

#edges li span {
}

#edges li span {
}

.banner {
    background: #fafbfc;
    display: block;
    border-bottom: 1px solid #ddd;
    width: 100%;
    padding: 20px 0 10px 40px;
}

.banner ul {
    margin: 0px;
    padding: 0px;
}

.banner li {
    display: inline;
    margin-right: 20px;
    padding: 3px;
}

.app-head {
    margin-top: 20px;
    padding: 15px;
    background-color: #f1f8ff;
    border: 1px solid #c8e1ff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.app-head h1 {
    margin: 0;
}

.app-body {
    padding: 16px;
    border: 1px solid #eee;
    border-top: none;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.container {
    margin: 20px auto;
}

cite a {
    color: green;
}

cite {
    color: green;
}

cite:hover {
    cursor: pointer;
    text-decoration: underline;
}

#omnibar input {
    border-radius: 5px;
    max-width: 400px;
}

.edge-details {
    margin-left: 10px;
    font-size: .9em;
    color: #999;
}

.ui-widget {
    padding: 10px;
    border-radius: 5px;
    margin: 0 0 10px 0;
}

.make_entity {
    margin: 0 15px;
}

.hide {
    display: none;
}

button {
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid;
    border-radius: 6px;
}

button.btn-secondary {
    border: 1px solid #ccc;
    font-size: .8em;
}

.node-options {
    display: flex;
    text-align: right;
    margin-bottom: 15px;
}

.node-options * {
    margin-right: 10px;
}

.node-options *:last-child {
    margin-right: none;
}

.alias {
    background-color: #ffdbe5;
}